.selected-playlist {
  background-color: #282828 !important;
  color: #1ed760 !important;
}
.playlist {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: white;
    cursor: pointer;
}