.mood-button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
}

.mood-button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background: #F26378;

}