.menuMobile{
    display: none;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #F26378;;
    color: white;
    font-size: 14px;
    font-weight: bold;
}   

.list.show{
    display: flex ; /* Show menu */
    background-color: rgb(189, 232, 126);
    flex-direction: column;
    list-style: none;
    position: relative;
    width: 100%;
    padding:10px;
    align-items: center;
  }

.list{
    display: none;
}

/* responsive view */
@media (max-width:800px) {
    .menuMobile{
        display: block;
    }
}
