*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
   /*justify-content: center;
  align-items: center; */
  
}

/* Header and footer with fixed heights */
.header, .footer {
  background-color: blueviolet;
  padding: 10px;
  text-align: center; 
}

.main-container {
  display: flex;
  width: 100%;
  margin: 10px 0 10px 0;
  gap: 15px;

    /* padding-left: 50px;
  padding-right: 50px;  */
  /* min-width: 0; 
  /* flex:1; */
} 

.section-left{
  flex: 0;
  padding: 10px;
  border: 2px solid red;
  background-color: #f4f4f4; 
  /* //Add different colors to differentiate  */
}
  

.section-right {
  border: 2px solid red;
  flex: 2;
  flex-grow:2 ;
  padding:20px;
  flex-wrap: wrap;
} 






