.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-image {
    background: url('../../images/happy.jpg');
    height: 250px;
    width: 100%;
    margin: 0 auto
}

.track-image {
    height: 40px;
    width: 40px;
}

.modal {
    display: block !important;
}

#id-modal-content {
    background-color: #9C9898;
}

.track-name {
    display: flex;
    gap: 5px;
    align-items: center;
}

.track, .artist {
    text-align: left;
}

.track-table {
    width: 100%;
}

.track-table td,th, tr {
    border-collapse: collapse;
}

.track-table tr {
    border-bottom: 1px solid lightgray;
}
.playbar-row {
    height: 5px;
}

.playbar {
    height: 100%;
    background-color: rgb(9, 119, 215);
}

.track-p {
    margin: 0;
}

.image-play-icon {
    position: relative;
    cursor: default;
}

.play-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: white;
    background: #8080808f;
    padding-left: 5px;
    display: none;
}

.clickable-row {
    pointer-events: auto;
}

.clickable-row:hover {
    background: #7e7e7e;

    .play-icon {
        display: inherit;
        cursor: pointer;
    }
}

.clickable-row-menu {
    cursor: pointer;
}

.row-menu-container {
    position: relative;
}

.row-menu {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    right: 100%;
    width: 200px;
}

.row-menu-header {
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.row-menu-header h5 {
    text-align: center;
}

.row-menu ul {
    list-style-type: none;
}

.row-menu ul li {
    cursor: pointer;
    padding: 0;
}

.row-menu ul li:hover {
    background-color: #cecdcd;
}
