.loginpage {
    position: relative; 
    overflow: hidden; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
}

/* Add a wavy animation using a pseudo-element */
.loginpage::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Wider than the viewport to create the wave effect */
    height: 200%; /* Taller than the viewport */
    background: red; /*Fallback color*/

    background: linear-gradient(90deg, rgb(26, 26, 26) 0%, rgb(19, 20, 20) 25%, rgb(46, 52, 55) 50%, rgb(198, 115, 133) 75%, rgb(237, 17, 120) 100%); 
    animation: wave 10s infinite linear;
    transform: rotate(30deg); 
    z-index: -1; /* Ensure it stays in the background */
}


/* animation */
@keyframes wave {
    0% {
        transform: rotate(0.1deg) translateX(0); /*start*/
    }
    100% {
        transform: rotate(30deg) translateX(-50%); 
    }
}

/* Button */
button {
    padding: 10px;
    border: none;
    margin-top: 200px;
    margin-bottom: 100px;
    background: whitesmoke;
    color: rgb(53, 53, 53);
    font-size: 16px;
    cursor: pointer;
    
}

button:hover {
    background: lightgray;
}

h2{
    margin-top: 10px;
}

font{
    font-family: 'montserrat, sans-serif';
    font-weight: 700;
}

.side{
    width: 50px;
}